.format-modal {
    padding: 12px
}

.format-modal__actions {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.format-modal__editor {
    height: 80vh;
}
